body{
  
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat-Bold', sans-serif;
}

p{
  color: #8f8f8f;
}

/* Headings */
.big-heading{
  font-family: "Montserrat-Black", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 7% 15%;
}

.title-row{
  margin-top: 5%;
  text-align: left;
}

/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;

}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;

}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.5rem;
  font-family: "Ubuntu";
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{

}

/* features */
.feature-heading{
  font-size: 1.5rem;
  font-weight: bold;
}

.icon{
  color: #ef8172;
  margin-bottom: 4%;
}

.icon:hover{
  color: #ff4c68;
}

p{
  color: #8f8f8f;
}


/* .title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 20rem;
} */

/* Another Way for Tilte image */
.title-image {
  transform: rotate(25deg);
  width: 60%;
  margin-bottom: -250px;
  right: -6rem;
  position: relative;
}

#title .container-fluid{
  padding: 3% 15% 7%;
}

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

/* Testimonials Section */
#testimonials{
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.testimony-logo{
  border-radius: 100%;
  margin: 20px;
  width: 15%;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  size: 10%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing{
  padding: 100px;
}

.price-text{
  font-size: 4rem;
  line-height: 1.5;
  font-weight: bolder;
}

.pricing-column{
  padding: 3% 2%
}

@media (max-width: 1020px) {
   .title-row{
     text-align: center;
   }
   .title-image{
     position: static;
     transform: rotate(0);
     object-fit: contain;
     z-index: 1;
     margin-bottom: 0rem; 
   }
}

#footer{
  text-align: center;
}

.social-icons{
  margin: 20px 10px;
}
